<section id="chords-chord">
  <div class="row">
    <div class="column">
      {{chord-diagram
        chord=model
      }}
    </div>
    <div class="column">
      <label><button>TODO: Start Practice</button></label>
      <label><button>TODO: Chord Progressions</button></label>
      <label><button>TODO: Circle of fifths</button></label>
    </div>
  </div>
</section>