.chord-practice {
  width: 100%;

  .config {
    label {
      display: block;
    }
  }

  h3 {
    text-align: center;
  }

  .chord-diagram {
    height: 18rem;
    width: 100%;
    margin: 0 auto;
  }
}
