<ul>
  <li>{{#link-to 'downloads.chord-diagrams'}}Chord Diagrams{{/link-to}}</li>
  <li>{{#link-to 'downloads.chord-diagrams'}}Fretboards{{/link-to}}</li>
  <li>{{#link-to 'downloads.chord-diagrams'}}Sheet Music{{/link-to}}</li>
  <li>{{#link-to 'downloads.chord-diagrams'}}Circle of Fifths{{/link-to}}</li>
</ul>